################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/src/MauiApp1/bin/Debug
/src/MauiApp1/obj
/src/MauiApp1/MauiApp1.csproj.user
/src/.vs
